@{
    ViewData["Title"] = "ADMIN: Accueil";
}

<div class="w-100">
    <div class="row d-flex ps-5 ps-sm-0 justify-content-center" style="margin-top: 150px; margin-bottom: 200px;">
        <h1 class="d-flex mx-auto mb-5">Système de gestion de contenu (CMS)</h1>
        <ul class="ps-5">
            <li><a asp-controller="Admin" asp-action="ManageProduct">Gérer les produits</a></li>
            <li><a asp-controller="Admin" asp-action="ManageOrder">Gérer les commandes</a></li>
        </ul>
    </div>
</div>